/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --bg-image: url('./../images/cover-image-dark.png');
  --header-element: block;
}
